/* src/components/styles/Button.module.css */

.smallButton {
  padding: 0.25rem 0.5rem;
  border-radius: 1.5rem;
  color: #575757;
  font-size: 12px;
}

.mediumButton {
  padding: 0.25rem 1rem;
  border-radius: 0.75rem;
  color: #575757;
  font-size: 13px;
  /* font-weight: bold; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mediumButton:disabled {
  color: #a0a0a0;
  cursor: not-allowed;
}

.activeButton {
  background-color: #FCB6D7;
}

.inactiveButton {
  background-color: #F9F9F9;
}

.addButton {
  background-color: #FCB6D7;
}

.cancelButton {
  background-color: #DADADA;
}

.deleteButton {
  background-color: #FCB6D7;
  padding: 0.15rem 0.50rem;
}

.editButton {
  background-color: #FCE4EC;
  padding: 0.15rem 0.50rem;
  margin-right: 0.75rem;
}

.archiveButton {
  background-color: #D1D5DB;
  padding: 0.15rem 0.50rem;
}

.unarchiveButton {
  background-color: #FCB6D7;
}

.alignRightButton {
  display: block;
  margin-left: auto;
  font-weight: bold;
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  margin-left: auto;
}