/* src/components/styles/Button.module.css */

.smallButton {
  padding: 0.25rem 0.50rem ;
  border-radius: 1.5rem;
  color: #575757;
  font-size: 12px;
}

.mediumButton {
  padding: 0.25rem 0.50rem;
  border-radius: 1.5rem;
  color: #575757;
  font-size: 13px;
}

/* Button States */
.activeButton {
  background-color: #FCB6D7;
}

.inactiveButton {
  background-color: #F9F9F9;
}

.addButton {
  background-color: #FCB6D7;
}

.cancelButton {
  background-color: #DADADA;
}

.deleteButton {
  background-color: #D1D5DB;
  padding: 0.15rem 0.50rem;
}
.editButton {
  background-color: #FCE4EC;
  padding: 0.15rem 0.50rem;
  margin-right: 0.75rem;
  /* margin-bottom: 0.25rem; */
}

.archiveButton {
  background-color: #D1D5DB;
  padding: 0.15rem 0.50rem;
}

.unarchiveButton {
  background-color: #FCB6D7;
}