/* src/components/styles/Form.module.css */

.container {
  width: 100%;
  background-color: #FFE7EF;
  padding: 1.5rem;
  padding-top: 60px;
  box-sizing: border-box;
}

.heading {
  color: #575757;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: #575757;
}

.select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #FFE7EF;
  border-radius: 0.5rem;
  color: #575757;
  font-size: 12px;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #FFE7EF;
  border-radius: 0.5rem;
  color: #575757;
  font-size: 12px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th {
  position: sticky;
  top: 0;
  background-color: #FFE7EF; /* Background color of the sticky header */
  z-index: 1; /* Ensure the header is on top of the table rows */
  padding: 0.75rem;
  text-align: left;
  font-weight: bold;
  color: #575757;
  border-bottom: 2px solid #DDD;
}

.td {
  padding: 0.75rem;
  border-bottom: 1px solid #DDD;
  color: #575757;
}
