.container {
  width: 100%;
  background-color: #FFE7EF;
  padding: 1.5rem;
  padding-top: 60px;
  box-sizing: border-box;
}

.heading {
  color: #575757;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 14px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: #575757;
}

.stockItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #DDD;
}

.select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #FFE7EF;
  border-radius: 0.5rem;
  color: #575757;
  font-size: 13px;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #FFE7EF;
  border-radius: 0.5rem;
  color: #575757;
  font-size: 13px;
}

.productBranchContainer {
  display: flex;
  flex-direction: column;
}

.quantityContainer {
  display: flex;
  justify-content: flex-end;
}

.custom-input {
  width: 50px;
  border: 1px solid #A7A7A7;
  border-radius: 0.25rem;
  color: #575757;
  font-size: 13px;
}

.custom-input::placeholder {
  color: #575757;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

/* .custom-quantity-input[type="number"]::-webkit-outer-spin-button,
.custom-quantity-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-quantity-input[type="number"] {
  -moz-appearance: textfield;
}

.custom-quantity-input[type="number"] {
  appearance: auto; 
} */

.primary {
  text-align: left;
  color: #575757;
  font-size: 13px;
}

.custom-input::placeholder {
  color: #575757;
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

/* .custom-quantity-input[type="number"]::-webkit-outer-spin-button,
.custom-quantity-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
.custom-quantity-input[type="number"] {
  -moz-appearance: textfield;
}

.custom-quantity-input[type="number"] {
  appearance: auto; 
} */

.primary {
  text-align: left;
  color: #575757;
  font-size: 13px;
}

.secondary {
  text-align: left;
  color: #575757;
  font-size: 10px;
}