/* src/components/styles/Layout.module.css */

.layout {
  display: flex;
  min-height: 100vh;
}

.leftSidebar {
  width: 15%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #FFE7EF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  color: #575757;
}

.centerContent {
  margin-left: 15%;
  margin-right: 25%;
  padding: 20px;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  font-size: 12px;
  padding-left: 20px;
}

.centerContent h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
  text-align: left;
  width: 100%;
  color: #575757;
}

.tabsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 13px;
  border: 1px solid #DDDDDD;
  background-color: #F9F9F9;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #575757;
}

.tabsContainerItem {
  padding: 0.25rem 0.75rem;
  border-radius: 1.5rem;
  color: #575757;
  font-size: 13px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer; /* Ensure the pointer changes on hover */
}

.tabsContainerItem.active {
  background-color: #FCB6D7;
}

.tabsContainerItem.inactive {
  background-color: #F9F9F9;
}
.tabsContainerItem.inactive:hover {
  background-color: #FFE7EF;
  color: #575757;
}

.iconItem {
  padding: 0.25rem 1.25rem;
  color: #575757;
  font-size: 25px;
}

.iconItem.active {
  background-color: #FCB6D7;
}

.iconItem.inactive {
  background-color: #FFE7EF;
}
.iconItem.inactive:hover {
  background-color: #DDDDDD;
}

.rightSidebar {
  margin-left: 75%;
  width: 25%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #FFE7EF;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
}

.header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 0 auto 1rem;
}

.avatar {
  width: 50%;
  max-width: 80px;
  height: auto;
  margin: 0 auto 1rem;
}

.greeting {
  font-size: 1rem;
  margin: 0;
  color: #575757;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #575757;
}

.navItem {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.navItem a {
  text-decoration: none;
  color: #575757;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.navItem a:hover {
  color: #b7188d;
}

.icon {
  margin-right: 10px;
}

.logoutButton {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  color: #575757;
  margin-left: 2.5rem;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .leftSidebar,
  .rightSidebar {
    position: relative;
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .centerContent {
    margin: 0;
    width: 100%;
    padding: 10px;
    align-items: stretch;
  }
}