.loginContainer {
    display: flex;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    background-color: #ffffff;
}

  .coverPhoto {
    background: linear-gradient(to bottom, #ffffff, #FCB6D7);
    width: 60%;
    height: 100%;
    display: flex; /* Add this line */
    justify-content: center; /* Add this line */
    align-items: center; /* Add this line */
  }


  .form {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 100px 100px;
  }
  
  .heading {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #575757;
  }
  
  .input,
  .select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #575757;
    border-radius: 0.75rem;
    font-size: 13px;
  }
  
  .button {
    padding: 10px;
    background-color: #FF6799;
    color: white;
    border: none;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover:enabled {
    background-color: #FF3477;
  }
  
  .button:disabled {
    background-color: #FCB6D7;
    cursor: not-allowed;
  }
  
  .loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #575757;
    z-index: 1000;
  }
  