/* styles/Table.module.css */

.container {
  background-color: white;
  padding: 1rem;
  padding-top: 0rem;
  border-radius: 0.5rem;
  box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.1), 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  height: 700px;
  width: 100%;
}

.table {
  width: 100%;
  text-align: left;
  color: #575757;
  table-layout: auto;
  border-collapse: collapse;
}

.th {
  padding: 0.8rem;
  color: #575757;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;

  position: sticky; 
  top: 0;
  background-color: white;
}

.td {
  padding: 8px;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}

.tdProductName {
  padding: 8px;
  font-size: 14px;
  width: 45%;
  border-bottom: 1px solid #e0e0e0;
}
.tdStock {
  padding: 8px;
  font-size: 14px;
  text-align: right;
  width: 1%;
  border-bottom: 1px solid #e0e0e0;
}

.thRightAlign {
  text-align: right;
}

.thLeftAlign {
  text-align: left;
}

.sortableHeaderContent {
  /* display: flex; */
  align-items: center;
  gap: 4px;
}

.rightAlign {
  text-align: right;
}

.sortContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
}

.sortIconsLeft {
  margin-left: 2px;
}

.sortIconsRight {
  margin-left: auto;
}

.sortIcon {
  font-size: 16px;
  color: #fcb6d7;
  font-size: 14px;
  cursor: pointer;
}

.sortIcon.active {
  color: #f96daf;
  font-weight: bold;
}

.tableRow {
  cursor: pointer;
  background-color: white;
}

.tableRow:nth-child(even) {
  background-color: #f9f9f9;
}

.tableRow:hover {
  background-color: #ffe7ef;
}

.disabledContainer {
  pointer-events: none;
  opacity: 0.5;
}

.disabledRow {
  /* background-color: #f9f9f9; */
  /* color: #aaa; */
  pointer-events: none;
  cursor: not-allowed;
}

.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
  pointer-events: auto;
  cursor: pointer;
}

.cursorDefault, .notSortable{
  cursor: default;
}

@media (max-width: 1366px) {
  .th {
    font-size: 14px;
  }
  
  .td {
    font-size: 13px;
  }
  
  .tdProductName {
    padding: 8px;
    font-size: 12px;
    width: 40%;
    border-bottom: 1px solid #e0e0e0;
  }
  .tdStock {
    padding: 8px;
    font-size: 14px;
    text-align: right;
    width: 1%;
    border-bottom: 1px solid #e0e0e0;
  }
}


.icon {
  display: flex;
}
