.tabsContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 13px;
    border: 1px solid #DDDDDD;
    background-color: #F9F9F9;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #575757;
}

.leftTabs {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: nowrap;
}

.leftTabs label {
    white-space: nowrap;
}

.tabsContainerItem {
    padding: 0.75rem 0.75rem;
    border-radius: 1.5rem;
    color: #575757;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.tabsContainerItem.active {
    background-color: #FCB6D7;
}

.tabsContainerItem.inactive {
    background-color: #FFE7EF;
}

.tabsContainerItem.inactive:hover {
    background-color: #FCB6D7;
    color: #575757;
}

/* .searchInput {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #b0b0b0;
    background-color: #FFF;
    color: #575757;
    font-size: 13px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    max-width: 300px;
    text-align: left;
} */

.searchInput {
    padding-left: 40px;
    font-size: 14px;
    width: 200px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.searchInput::placeholder {
    color: #b0b0b0;
    text-align: left;
}

.searchInput:focus {
    border-color: #b0b0b0;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.verticalLine {
    position: relative;
    padding-left: 1.5rem;
}

.verticalLine::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: #ccc;
}

.rightButtonGroup {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
    margin-left: auto;
}

.tabsContainerItem:disabled {
    cursor: not-allowed;
    color: #b0b0b0;
}

.searchContainer {
    position: relative;
    display: inline-block;
    margin-right: 20px;
  }
  
  .searchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ccc;
  }
  